---
import Base from "../../layouts/Base.astro";
import { loadBriefs } from "../../lib/briefs";
import { marked } from "marked";

export function getStaticPaths() {
  return loadBriefs().map((b) => ({ params: { slug: b.slug }, props: { brief: b } }));
}

const { brief } = Astro.props;
const html = marked.parse(brief.body);
---

<Base title={brief.title}>
  <p><a href="/briefs/">&larr; All briefs</a></p>
  <div class="brief-body" set:html={html} />
</Base>
